.article p {
	max-height: 500px;
}

@media (max-width: 200px) {
	.article {
		max-height: 0px;
		overflow: hidden;
	}	
}

@media (min-width: 200px) and (max-width: 400px) {
	.article p ~ p {
		max-height: 0px;
		overflow: hidden;
	} 

	.article p.article-jump {
		max-height: 500px;
	}
}

@media ( min-width: 400px ) {
	.article .article-jump {
		max-height: 0px;
		overflow: hidden;
	}
}


body.news h2 {
	display: none;
}
body.article div.article p.article-jump {
	display: none;
}
